EXPO_PUBLIC_SUPABASE_URL=https://yglxnzyhbdepnpcefkfu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnbHhuenloYmRlcG5wY2Vma2Z1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzMzczNDYsImV4cCI6MjA3OTkxMzM0Nn0.ZfinAJqKgm_iep97GF4Hb4cRKNFosfil8CS28X_nSiE
